{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'icon.png'%}" />
    <title>{% block title %}There's No Place Like Home{% endblock %} | Self-Serve</title>
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% include 'session_security/all.html' %}
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/navbar_styles.css' %}">

</head>

<header>
    {% block navbar %}{% endblock %}
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <script type="text/javascript">
    tday = new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
    tmonth = new Array("January","February","March","April","May","June","July","August","September","October","November","December");

    function GetClock(){
    var d=new Date();
    var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
    var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

    if(nhour==0){ap=" AM";nhour=12;}
    else if(nhour<12){ap=" AM";}
    else if(nhour==12){ap=" PM";}
    else if(nhour>12){ap=" PM";nhour-=12;}

    if(nmin<=9) nmin="0"+nmin;
    if(nsec<=9) nsec="0"+nsec;

    document.getElementById('clockbox').innerHTML=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
    }

    window.onload=function(){
    GetClock();
    setInterval(GetClock, 100);
    }
    </script>
    {% block javascript %}{% endblock %}
</footer>
{% comment %}

{% extends 'data/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block content%}
    <!--Content goes here-->
{% endblock %}
{% block javascript %}{% endblock %}

{% endcomment %}